@page "/"
@page "/stage/{StageId:int}"

@using BF.Common.Components
@using BF.Service.Events
@using BF.Server.Components

<h2>@Stage</h2>

<div class="container" style="background-color: yellow; height: 100%;">
    <div class="row" style="background-color: brown;">

        <div class="col">
            <TemperatureGauge ComponentId="@Stage" />
        </div>

        <div class="col">
            <SsrPercentageGauge ComponentId="@Stage" />
        </div>
    </div>



    <div class="row" style="background-color: orange;">
        <div class="col">
            <TemperatureChart ComponentId="@Stage" />
        </div>
    </div>

    <div class="row">
        <div class="col-2 justify-content-center" style="background-color: lightblue;">
            <div class="m-1">
                <PumpButton ComponentId="@Stage" />
            </div>
        </div>
        <div class="col-10" style="background-color: lightcoral;">
            <div class="m-1">
                <SetPointComponent ComponentId="@Stage" />
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0px;
    }
</style>

@code {

    [Parameter]
    public int StageId { get; set; } = 1;

    public ComponentId Stage { get; set; } = ComponentId.HLT;

    protected override void OnParametersSet() {
        Stage = (StageId == 0) ? ComponentId.HLT : StageId.ToComponentId();
    }

}

