@page "/"
@page "/stage/{StageId:int}"

@using BF.Common.Components
@using BF.Service.Events
@using BF.Server.Components

<h2>@Stage</h2>

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6">
                    <TemperatureGauge ComponentId="@Stage" />
                </div>

                <div class="col-6">
                    <SsrPercentageGauge ComponentId="@Stage" />
                </div>
            </div>
        </div>
        <div class="col-3">
            <SetPointComponent ComponentId="@Stage" />
        </div>
    </div>
    @*<div class="row">
            <div class="col-9">
                <EventLogger />
            </div>
            <div class="col-3">
                <PumpButton />
            </div>

        </div>*@
    <div class="row">
        <div class="col-12">
            <TemperatureChart ComponentId="@Stage" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int StageId { get; set; } = 1;

    public ComponentId Stage { get; set; } = ComponentId.HLT;

    protected override void OnParametersSet() {
        if (StageId != (int)ComponentId.HLT && StageId != 0)
            Stage = StageId.ToComponentId();
    }

}

