@page "/"
@page "/stage/{StageId:int}"

@using BF.Common.Components
@using BF.Service.Events
@using BF.Server.Components

<h2>@Stage</h2>

<div class="container" style="height: 100%; background-color: yellow;">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <TemperatureGauge ComponentId="@Stage" />
                </div>

                <div class="col">
                    <SsrPercentageGauge ComponentId="@Stage" />
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="mx-auto">
                            <PumpButton ComponentId="@Stage" />
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color:red;">
                    <div class="col">
                        <div style="height: 400px;">
                            <SetPointComponent ComponentId="@Stage" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-9">
                <EventLogger />
            </div>
            <div class="col-3">
                <PumpButton />
            </div>

        </div>*@
    <div class="row">
        <div class="col-12">
            <TemperatureChart ComponentId="@Stage" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int StageId { get; set; } = 1;

    public ComponentId Stage { get; set; } = ComponentId.HLT;

    protected override void OnParametersSet() {
        Stage = (StageId == 0) ? ComponentId.HLT : StageId.ToComponentId();
    }

}

